<body class="Fondo">

    <a href='@Url.Action("Progreso")' class="Progreso"><h2>Ver el Progreso</h2></a>
    
    <h1 class="error">@ViewBag.Error</h1>
    <h2>Algunas salas no tienen pistas debido a que son simples o de logica.</h2>

    <section>
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="1"})' class="Oficina">
            @{Escape.estadoJuego = 1;}
            <div>
                <b>Office</b>
            </div>
        </a>
        
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="13"})' class="Desk">
            @{Escape.estadoJuego = 13;}
            <div>
                <b>Front Desk</b>
                <b>Puppet box</b>
            </div>

            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .Desk{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>
        
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="14"})' class="Parts">
            @{Escape.estadoJuego = 14;}
            <div>
                <b>Parts & Service</b>
            </div>
        
            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .Parts{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="15"})' class="State">
            @{Escape.estadoJuego = 15;}
            <div>
                <b>Main State</b>
            </div>

            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .State{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="2"})' class="KidsCove">
            @{Escape.estadoJuego = 2;}
            <div>
                <b>Kids Cove</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="5"})' class="Hall2">
            @{Escape.estadoJuego = 5;}
            <div>
                <b>Hall 2</b>
            </div>

            @if(!(Escape.Graph.seIngresa(1) && Escape.Graph.seIngresa(2) && Escape.Graph.seIngresa(3) && Escape.Graph.seIngresa(4))){
                <style>
                    .Hall2{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="3"})' class="PartyRoom">
            @{Escape.estadoJuego = 3;}
            <div>
                <b>Party Room 1</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="4"})' class="PartyRoom">
            @{Escape.estadoJuego = 4;}
            <div>
                <b>Party Room 2</b>
            </div>
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="6"})' class="Hall1">
            @{Escape.estadoJuego = 6;}
            <div>
                <b>Hall 1</b>
            </div>

            @if(!(Escape.Graph.seIngresa(5) == true && Escape.Graph.seIngresa(8) == true && Escape.Graph.seIngresa(9) == true && Escape.Graph.seIngresa(7) == true)){
                <style>
                    .Hall1{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="7"})' class="Arcade">
            @{Escape.estadoJuego = 7;}
            <div>
                <b>Arcade</b>
            </div>

            @if(!(Escape.Graph.seIngresa(5) == true)){
                <style>
                    .Arcade{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="8"})' class="Bath1">
            @{Escape.estadoJuego = 8;}
            <div>
                <b>Bathroom 1</b>
            </div>

            @if(!(Escape.Graph.seIngresa(5) == true)){
                <style>
                    .Bath1{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>

        <a href='@Url.Action("IrASala", "Home", new{numeroSala="9"})' class="Bath2">
            @{Escape.estadoJuego = 9;}
            <div>
                <b>Bathroom 2</b>
            </div>

            @if(!(Escape.Graph.seIngresa(5) == true)){
                <style>
                    .Bath2{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>
        <hr>
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="10"})' class="Dining">
            @{Escape.estadoJuego = 10;}
            <div>
                <b>Showroom / Dining</b>
            </div>

            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .Dining{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>
        
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="16"})' class="Exit">
            @{Escape.estadoJuego = 16;}
            <div>
                <b>Exit</b>
            </div>

            @if(!(Escape.Graph.seIngresa(6) && Escape.Graph.seIngresa(10) && Escape.Graph.seIngresa(11) && Escape.Graph.seIngresa(12) && Escape.Graph.seIngresa(13) && Escape.Graph.seIngresa(14) && Escape.Graph.seIngresa(15))){
                <style>
                    .Exit{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a> 
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="11"})' class="KidCare">
            @{Escape.estadoJuego = 11;}
            <div>
                <b>Kid Care Zone</b>
            </div>

            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .KidCare{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>   
        <a href='@Url.Action("IrASala", "Home", new{numeroSala="12"})' class="Kitchen">
            @{Escape.estadoJuego = 12;}
            <div>
                <b>Kitchen</b>
            </div>

            @if(!Escape.Graph.seIngresa(6)){
                <style>
                    .Kitchen{
                        background-image: url('../img/candado.jpg');
                        background-size: cover;
                        background-position: center;
                    }
                </style>
            }
        </a>   
        
    </section>
</body>