<body class="progreso">

    <a href='@Url.Action("Mapa")'>Voler al Mapa</a>

    @for(int i=0; i < Escape.salasEscapadas.Length; i++){
        if(i > 0){
            @if(i == 1){
                <h2>Seccion 1</h2>
            }
            else if(i == 6){
                <h2>Seccion 2</h2>
            }
            else if(i == 10){
                <h2>Seccion 3</h2>
            }

            if(i != 5 && i != 6){
                <p>Sala @(i):</p>
            }
            else if(i == 5){
                <p>Hall 2:</p>
            }
            else if(i == 6){
                <p>Hall 1:</p>
            }
            
            @if(Escape.salasEscapadas[i] == false)
            {
                <p class="NoEscapo">No escapo aún</p>
            }else{
                <p class="Escapo">Escapó!</p> 
                @if(i == 1){
                    <p>Numero A para el Hall 2: <b>@Escape.DigitosHall2[0]</b></p>
                }else if(i == 2){
                    <p>Numero B para el Hall 2: <b>@Escape.DigitosHall2[1]</b></p>
                }else if(i == 3){
                    <p>Numero C para el Hall 2: <b>@Escape.DigitosHall2[3]</b></p>
                }else if(i == 4){
                    <p>Numero D para el Hall 2: <b>@Escape.DigitosHall2[2]</b></p>
                }
                else if(i == 7){
                    <p>Numero A para el Hall 1: <b>@Escape.DigitosHall1[0]</b></p>
                }
                else if(i == 8){
                    <p>Numero B para el Hall 1: <b>@Escape.DigitosHall1[1]</b></p>
                }
                else if(i == 9){
                    <p>Numero C para el Hall 1: <b>@Escape.DigitosHall1[2]</b></p>
                }


            }<br>
        }
    }
</body>