<head>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="Nivel1">

        @if(ViewBag.Error != null){
            <p class="Error">@ViewBag.Error</p>
        }

        @if(!(Escape.salasEscapadas[6])){
            <a class="botonMapa1" href='@Url.Action("Mapa")'>Volver al Mapa</a>
        }

        <div class = "suspenso">
            <audio controls autoplay>
                <source src="~/sounds/MusicaSuspenso.mp3">
            </audio>
        </div>

        <img src="~/img/Hall1.jpg">

        @if(!Escape.salasEscapadas[6]){
            <h2 class="tempoHall1">Temportizador: <span id="tiempo"></span></h2>
        
            @if(Escape.Graph.seIngresa(7) == true && Escape.Graph.seIngresa(8) == true && Escape.Graph.seIngresa(9) == true){
                @if(ViewBag.activoSala == null){
                    <div class="Hoja">
                        <a href='@Url.Action("ApretoBoton", "Home", new{ApretoBoton="1"})'>Insercion de contraseñas</a>
                    </div>
                }else{
                    <div class="HojaActivada1">
                        <a href='@Url.Action("ApretoBoton", "Home", new{ApretoBoton="5"})'>Salir</a>
                        <b>Acertijo de los Cuatro Números
                            Imagina que tienes cuatro números: A, B y C. Basándote en las siguientes pistas y numeros que se les brinda en la Sala Progreso en el Mapa encuentre la secuencia:

                            <br><br>

                            El número A es el menor de los tres.
                            <br>
                            El número B está en la segunda posición.
                            <br>
                            El número C es el mayor de los tres.
                            <br>
                            El número A está en la primera posición. 
                            
                            <br><br>

                            Se puede fijar los numeros en la pestaña progreso que se encuentra en el mapa.
                        </b>

                        <form action='@Url.Action("Habitacion")'>
                            <input type="number" name="clave" min="0" max="9999" autocomplete="off" required>
                            <input type="submit" value="Enviar Respuesta">
                        </form>
                    </div>
                }
            }
            else{
                <p class="Error1">No completo las anteriores salas. No puede ingresar nada.</p>
                <a class="Volver" href='@Url.Action("Mapa")'>Volver al mapa</a>
            }
        }
        else{
            <b class="completada">Ya completo la sala!</b>
            <a class="Volver1" href='@Url.Action("Mapa")'>Volver al mapa</a>
        }

    </div>
</body>